html {
  height: 100%;
}

body {
  background: url('/media/DinosaurWalk.jpg') no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 164px);
  color: #555;font-family: lato;
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5tem;
  width: 1.5rem;
}

.logo-font {
  text-transform: uppercase;
}

.main-logo-link {
  width: fit-content;
}

.shop-now-button {
  background: blue;
  color: white;
  min-width: 260px;
}

.btn-black {
  background: blue;
  color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: rgb(75, 75, 230);
  color: white;
}

.text-black {
  color: #000 !important;
}

.border-black {
  border: 1px solid black !important;
}

.bg-black {
  background: blue !important;
}

footer {
  background-color: blue;
}

span.text-muted {
  color: white !important;
  text-align: center;
}
/*
ul.nav.col-md-4-justify-content-end.list-unstyled.d-flex {
  color: white !important;
}
not working on the footer - break footer down and use font awesome icons as alternative
svg.bi {
  color: white !important;
} */

h1 {
  padding: 30px;
}

/* -------------------------------- Media Queries */

/* Slightly Larger Container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width:80%;
  }
}

/* Fixed top Nav only on Medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 164px;
  }
}

