html {
  height: 100%;
}

body {
  background: url('/media/DinosaurWalk.jpg') no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh - 164px);
  color: #555;font-family: lato;
}

/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5tem;
  width: 1.5rem;
}

/* --------------------------------- Logo Text */

h2.logo-font.text-black.my-0 {
  color: #549dfa !important;
  text-shadow: 2px 2px 2px #171aff, 0 0 1px darkblue;
}

/* --------------------------------- Hero Banner Text */

h1.display-4.logo-font.text-blue {
  color: #549dfa !important;
}

.logo-font {
  text-transform: uppercase;
}

/* --------------------------------- Logo Image */

#bdlogo {
  width: 30%;
}

.main-logo-link {
  width: fit-content;
}

/* -------------------------------- Navigation for mobile */

#toggler {
  color: red !important; /* Not Showing up */
}

.shop-now-button {
  background: #549dfa !important;
  /*border: #171aff !important; Fix this border as goes missing rather than displays*/
  color: white;
  min-width: 260px;
}

.btn-black {
  background: #549dfa;
  color: white;
  border: #171aff;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
  background: #171aff !important;
  color: white;
}

.text-black {
  color: #549dfa !important;
}

.border-black {
  border: 1px solid #171aff !important;
}
/* -------------------------------- Title Banner */

.bg-black {
  background: #050505 !important;
}

nav.navbar.navbar-expand-lg.navbar-light.w-100 {
  background: #050505 !important; /* Causing a conflick to burger menu */
}

div.col.bg-black.text-white {
  background: #549dfa !important;
}

#footer {
  background-color: #549dfa !important;
}

i.fab.fa-facebook.text-white::before {
  padding: 10px;
}

h1 {
  padding: 30px;
}

.footer {
  background-color: #549dfa !important;
}

/* -------------------------------- Media Queries */

/* Slightly Larger Container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width:80%;
  }
}

/* Fixed top Nav only on Medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 164px;
  }
}

