<footer class="mt-5">
    
    <div class="footer-copyright bg-black text-white text-center py-3 fixed-bottom" id="footer">
      © Blue Dinosaur Animation - website and hosting by <a href="https://www.robincollins.co.uk" target="_blank">Robin Collins</a>
      <a href="https://www.youtube.com/channel/UCfGKETPqK79pgxtjzp0p5Kg" target="_blank"><i class="fab fa-youtube text-white"></i></a> 
        <a href="https://www.facebook.com/Bluedinosauranimation" target="_blank"><i class="fab fa-facebook text-white"></i></a>
        <a href="https://www.instagram.com/bluedinosauranimation/?hl=en" target=__blank><i class="fab fa-instagram text-white"></i></a>
    </div>
</footer>
