<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="home-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Home
      </a>
      <!-- Client requires less navigation items remove accordingly -->
      <div class="dropdown-menu border-0" aria-labelleby="home-link">
        <a href="" class="dropdown-item">Menu1</a>
        <a href="" class="dropdown-item">Menu2</a>
        <a href="" class="dropdown-item">Menu3</a>
        <a href="" class="dropdown-item">Menu4</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        About
      </a>
      <!-- Second Navigation requires less navigation also -->
      <div class="dropdown-menu border-0" aria-labelleby="about-link">
        <a href="" class="dropdown-item">Menu5</a>
        <a href="" class="dropdown-item">Menu5</a>
        <a href="" class="dropdown-item">Menu7</a>
        <a href="" class="dropdown-item">Menu8</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Contact
      </a>
      <!-- 3rd Area reduce Navigation -->
      <div class="dropdown-menu border-0" aria-labelleby="contact-link">
        <a href="" class="dropdown-item">Menu9</a>
        <a href="" class="dropdown-item">Menu10</a>
        <a href="" class="dropdown-item">Menu11</a>
        <a href="" class="dropdown-item">Menu12</a>
      </div>
    </li>
  </ul>
</div>