<li class="list-inline-item">
    
    <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0">
        
    </div>
</li>
<li class="list-inline-item dropdown">
    
    <div class="dropdown-menu border-0">
        <!--{% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <a href="" class="dropdown-item">Product Management</a>
            {% endif %}
            <a href="" class="dropdown-item">My Profile</a>
            <a href="" class="dropdown-item">Logout</a>
        {% else %}
            <a href="" class="dropdown-item">Register</a>
            <a href="" class="dropdown-item">Login</a>
        {% endif %}-->
    </div>
</li>
<li class="list-inline-item">
    
</li>