{% extends "base.html" %}
{% load static %}
<!-- {% load embed_video_tags %} Function not working well -->

{% block page_header %}

  <div class="container header-container">
    <div class="row">
      <div class="col"></div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<!-- Page Header Section-->
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center mt-3" style="margin-top: 75px !important; margin-bottom: 20px;">
        <h2 class="logo-font" id="aboutTitle">About Blue Dinosaur Animation</h2>
      </div>
    </div>
  </div>
<!-- Second section -->
  <div class="container-fluid" style="margin-top: 130px !important;">
    <div class="row">
      <div class="col-sm-6">
        <img class="mx-auto d-block" src="/media/peter_puppets.png" alt="Peter and friends" id="peter">
      </div>
      <div class="col-sm-6 text-left">
        <p style="color: white !important;">
          Blue Dinosaur Animation is the name under which artist Peter Collins creates stop motion animated productions.
          From the beginning with concept drawings, storyboards, puppet and set designs. Then the
          construction of said sets and puppets to the slow process of the animation taking one frame at a time.
        </p>
        <p style="color: white !important;">
          Inspired by the legendary Ray Harryhausen and the work of many artists that have followed him in working in this medium. The name Blue Dinosaur is after a Harryhausen character.
        </p>
        <p style="color: white !important;"> <!-- Take the time to add styles to base.css -->
          Most commissions have currently been music videos and advertising on social media.
        </p>
       
      </div>
      <div class="col-sm-12 text-center">
        <h3 class="logo-font">Portfolio</h3>
        <!--{% for i in obj %}
          {% video i.video 'small' %}
        {% endfor %}-->
      </div>
    </div>
  </div>
<div class="container mt-5">
  <div class="row">
      
    <div class="col-sm-12 col-md-6 text-center">
      <iframe width="100%" height="360" src="https://www.youtube.com/embed/8tdvTAwBLwc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-sm-12 col-md-6  text-center">
      <iframe width="100%" height="360" src="https://www.youtube.com/embed/8tdvTAwBLwc" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-sm-12 col-md-6  text-center">
      <iframe width="100%" height="360" src="https://www.youtube.com/embed/8tdvTAwBLwc" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-sm-12 col-md-6  text-center">
      <iframe width="100%" height="360" src="https://www.youtube.com/embed/8tdvTAwBLwc" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>      

        
<div style="margin-bottom: 50px !important;">
  <div class="col text-center">
    <h3 class="logo-font">Assignments Completed for the following</h3>
  </div>

  <div class="row mb-5">
        <div class="col text-center"><img src="/media/clients/funkelogo.jpg" alt="Funke" id="funke"></div>
        <div class="col text-center"><img src="/media/clients/sant.png" alt="Sanitarium" id="sanity"></div>
        <div class="col text-center"><img src="/media/clients/stuart_turner_andtheflatES.png" alt="Stuart Turner and the Flat Earth Society" id="stuart"></div>
        <div class="col text-center"><img src="/media/clients/brutalist_architecture_in_the_sun.jpg" alt="Brutalist Architecture in the Sun" id="brutalist"></div>
      </div>
      
    </div>
  </div>
{% endblock %}
